.Messages{
    .container{
        box-shadow: .1px .1px 5px grey;
    }
    .Message__container{
        height: fit-content;
        position: relative;
        padding: 0 !important;
        .Icon-Bg:hover{
            background-color: rgb(69, 69, 69);
        }
        .container{
            position: absolute;
            top: calc(100% + 5px);
            right: 0;
            width: 400px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            div{
                width: 100%;
            }
            .Header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    padding: 10px;
                    height: fit-content;
                    width: fit-content;
                }
            }
            .Search{
                input{
                    background-color: white;
                    color: black;
                }
            }
            .Messages_List{
                height: clamp(400px,200px,400px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                overflow-y: scroll;
                transition: all .3s linear;
            }

            .Messages_List::-webkit-scrollbar {
                width: 12px; /* Width of the entire scrollbar */
            }

            .Messages_List::-webkit-scrollbar-track {
                background: #f1f1f1; /* Color of the track */
            }

            .Messages_List::-webkit-scrollbar-thumb {
                background-color: #888; /* Color of the handle */
                border-radius: 10px; /* Roundness of the handle */
                border: 3px solid #f1f1f1; /* Padding around handle */
            }

            .Messages_List::-webkit-scrollbar-thumb:hover {
                background: #555; /* Handle color on hover */
            }
        }
    }
}

.Message{
    border-radius:9px;
    transition: all .3s linear;
    .Message__container{
        padding: 5px;
        cursor: pointer;
        transition: all 0.3s linear;
        .UserProfile{
            height: 80px;
            width: 80px !important;
            img{
                border-radius: 100px;
                height: 60px;
                width: 60px;
            }
        }
        .UserData{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            h1{
                font-size: 20px;
            }
        }
    }

    .Message__container:hover{
        border-radius: 9px;
    }
}

.Message:hover{
    background-color: rgb(169, 169, 169);
}

