.Sidebar{
    width: fit-content;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    position: sticky;
    top: 0;
    a{
        width: 180px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding: 8px 10px;
        border-radius: 6px;
        transition: all .3s linear;
    }

    .Logo__container{
        background-color: transparent;

        img.logo-image{
            border: 1px solid white;
            background-color: rgb(255, 255, 255);
            height: 60px;
            width: 60px;
            border-radius: 100px;
        }

        a.logo{
            height: fit-content;
            width: fit-content;
            background-color: black;
            padding: 0;
        }
    }

    .Navbar__container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        a{
            color: black;
            svg{
                height: 25px;
                width: 25px;
                transition: all .3s ease-in;
            }
        }

        a.active{
            background-color: rgb(85, 85, 85);
        }

        a:hover{
            background-color: var(--dark-hover-effect);
            svg{
                transform:scale(1.1);
            }
        }
    }

    .Post-Btn__container{
        width: 100%;
        button{
            border-radius: 30px;
            height: 40px;
            width: 200px;
            a{
                padding: 0;
                gap: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .profile__container{
        width: 100%;
    }
}


// MOBILE VERSION //
@media screen and (max-width:768px) {
    .Sidebar{
        display: none;
    }
}

/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){
    .Sidebar{
        .Logo__container{
            display: none;
        }
        .Navbar__container{
            a{
                width: fit-content;
                h3{
                    display: none;
                }
            }
        }
        .Post-Btn__container,.profile__container{
            display: none;
        }
    }
}

/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){
    .Sidebar{
        display: none;
    }
}

/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){

}