.post{
    width: 600px;
    height: fit-content;
    border-radius: 24px;
    color: white;
    display: flex;
    gap: 10px;
    cursor: pointer;
    hr{
        background-color: black;
        height: 2px;
        border: none;
    }
    .user-post{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input-post{
            width: 98%;
            input{
                width: 95%;
                height: 32px;
                padding: 10px 0;
                padding-left: 15px;
                font-size: 20px;
            }
        }
        .user-profile{
            img{
                border-radius: 100px;
            }
        }
        .post-navbar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .Icon-Bg{
                height: fit-content;
                width: fit-content;
                padding: 12px;
                svg{
                    height: 22px;
                    width: 22px;
                }
            }
        }
    }
}


/*----------------------MOBILE DEVICES----------------------*/
@media screen and (max-width: 768px){
    .post{
        width: 100% !important;
        border-radius: 0 !important;
    }
}
/*----------------------TABLET DEVICES----------------------*/
@media only screen and (max-width: 768px ) and (max-width:1023px){
}
/*----------------------LAPTOP DEVICES----------------------*/
@media only screen and (max-width: 1024px ) and (max-width:1439px){
}
/*----------------------DESCKTOP DEVICES----------------------*/
@media only screen and(max-width: 1440px ){
}