.More{
    .More__container{
        position: relative;
        .More__Dropdown{
            width: 300px;
            position: absolute;
            top: 100%;
            right: 20px;
            z-index: 100;
            box-shadow: .2px .2px 5px black;
            ul{
                li{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 10px;
                    gap: 8px;
                    cursor: pointer;
                    transition: all 0.3s linear;

                    svg{
                        height: 30px;
                        width: 30px;
                    }
                }
                li:hover{
                    svg, 
                    span {
                        color: gold;
                    }
                }
    
                li:first-child{
                    border-radius: 16px 16px 0 0;
                }
                li:last-child{
                    border-radius: 0 0 16px 16px ;
                }           
            }
        }
    }
}