.photo {
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
    }

    .photo-hover {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.photo:hover {
    img {
        filter: blur(2px) brightness(80%);
    }
    
    .photo-hover {
        display: flex;
    }
}

.photo-cover-container {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.546);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border: 2px solid white;

    button.close-btn {
        background-color: red;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        padding: 10px;
    }

    button.follow-btn {
        height: 40px;
        padding: 2px 50px;
    }

    .btn-cover-container,
    .comment-section {
        height: 600px;
        width: 600px;
    }
    .btn-cover-container {
        background-color: rgb(78, 211, 30);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img.photo-cover {
            height: 100%;
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }
    }

    .comment-section {
        background-color: black;
        display: flex;
        flex-direction: column;
        .Comment-Content {
            justify-content: start;
        }
        .comment-list {
            padding: 10px ;
            flex: 1;
        }

        .put-comment-section {
            background-color: red;
            height: 60px;
            position: relative;

            input.comment-input {
                width: 100%;
                height: 100%;
                border-radius: 0;
            }

            button.comment-btn {
                border-radius: 100px;
                height: fit-content;
                width: fit-content;
                padding: 10px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
